* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif; 

}

.wa-container {
  display:flex;
  height: 80vh;

  
}

.wa-sidebar {
  width: 320px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}


.sb-header {
  height: 60px;
  background: #00a884;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: white;
}

.sb-avatar {
  width: 40px;
  border-radius: 50%;
}

.sb-icons span {
  margin-left: 15px;
  cursor: pointer;
  font-size: 18px;
}


.sb-search {
  padding: 8px;
  background: #f0f2f5;
}

.sb-search input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}


.sb-chat-list {
  flex: 1;
  overflow-y: auto;
}


.sb-chat {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  gap: 10px;
}

.sb-chat:hover,
.sb-chat.active {
  background: #f0fef0;
}

.sb-chat-avatar {
  width: 45px;
  border-radius: 50%;
}

.sb-chat-info {
  flex: 1;
}

.sb-chat-name {
  font-weight: bold;
  font-size: 14px;
}

.sb-chat-last {
  font-size: 12px;
  color: #666;
}

.sb-time {
  font-size: 11px;
  color: #999;
}


.wa-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #efeae2;
}

.wa-header {
  height: 60px;
  background: linear-gradient(135deg, #00a884, #008069);
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: white;
  gap: 10px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.user-info {
  flex: 1;
}


.wa-body {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
}

.bubble {
  max-width: 75%;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.bubble.me {
  background: #dcf8c6;
  margin-left: auto;
}

.bubble.other {
  background: #fff;
}


.wa-footer {
  display: flex;
  padding: 8px;
  background: #f0f0f0;
}

.wa-footer input {
  flex: 1;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 15px;
}

.wa-footer button {
  width: 42px;
  height: 42px;
  margin-left: 8px;
  border-radius: 50%;
  border: none;
  background: #00a884;
  color: white;
}
