#main {
    display: flex;
}
aside {
    padding: 10px;
    flex: 0 0  20vw;
    background: beige;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside ul a {
    color: #6a1b9a;
    padding: 10px;
    display: block;
    border-bottom: 1px solid green;
}
aside img {
    width: 100%;
}
article {
    padding: 10px;
}
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service-box{
    border: 2px solid #eee;
    padding: 10px;
    flex-basis: 32%;
    max-width: 370px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.service-box img {
    width: 100%;
}
.service-box h3 {
    margin: 5px 0 10px;
}
.service-box p {
    margin: 0 0 10px;
}
.call-to-action {
    align-self: flex-start;
    margin-top: auto;
}
.call-to-action a {
    background: gray;
    color: white;
    padding: 8px 13px;
    display: block;
    border: 2px solid transparent;
}
.call-to-action a:hover{
    background: transparent;
    border: 2px solid grey;
    color: grey;
}

footer {
    color: white;
    text-align: center;
    padding: 15px 0;
    background: #6a1b9a;

}
@media screen and (max-width: 768px){
    .service-box{
    flex-basis: 45%;
    }
    aside {
    flex: 0 0  30vw;
}
}
@media screen and (max-width:570px){
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    article {
        order: -1;
    }
    #main {
        flex-direction: column;
    }
    .services-container {
        flex-direction: column;
        align-items: center;
    }
    h2 {
       text-align: center;
       padding: 10px 0; 
       font-size: 18px;
       margin: auto;
    }
}