.paddingAll{
    padding:  10px 10px 10px 10px;
}
.title{
    font-weight: 600;
}
.subtitle{
    font-size: 16px;
}
.iconstyle{
    margin-top: 20px;
    padding: 10px;
    margin-left: 20px;
}
.gradient{
    background: linear-gradient(
      158deg,
      rgba(40,34,70,1) 0%,
      rgba(30,47,141,1) 100%
    );
}

.bgcolor{
    min-height: 100vh;
    background: #ECEFF1;
    background: linear-gradient(150deg,rgb(224,224,224)0% rgba(233,237,254)100%);
}